<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="why-1170">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Stat Group-->
            <div class="cs-stat">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/why-icon.svg" alt="icon" width="48" height="48" aria-hidden="true">
                </picture>
                <div class="cs-flex">
                    <span class="cs-number">2500+</span>
                    <span class="cs-desc">Zadowolonych klientów</span>
                </div>
            </div>
            
            <!--Car-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/car-reverse.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/car-reverse.png">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/car-reverse.png" alt="appliance" width="858" height="477">
            </picture>

            <!--Person, to make your own crop of a person, use https://www.remove.bg/ to remove the background of any image -->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic27.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic27.png">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic27.png" alt="appliance" width="438" height="588">
            </picture>

            <!--Stripe background-->
            <div class="cs-graphic-wrapper">
                <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/tire-mark.svg" alt="tire mark" width="1469" height="626" aria-hidden="true">
            </div>

        </div>
        <div class="cs-content">
            <span class="cs-topper">Nasz zespół</span>
            <h2 class="cs-title">Serwisowanie od A do Z</h2>
            <p class="cs-text">
                Dzięki wykwalifikowanym mechanikom jesteśmy w stanie rozwiązać wszystkie problemy, jakie możesz mieć z samochodem. Nie zwlekaj i od razu postaw na profesjonalistów!
            </p>
            <ul class="cs-list">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/247.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Kontakt 24/7</h3>
                        <p class="cs-li-text">
                            Wystarczy że prześlesz formularz - często odpowiadamy nawet po godzinach otwarcia warsztatu
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/members.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Najlepsi mechanicy</h3>
                        <p class="cs-li-text">
                            Nasz zespół to pasjonaci motoryzacji, którzy udźwigną każde wyzwanie zawodowe
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/clock-zoom.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Sprzęt wysokiej klasy</h3>
                        <p class="cs-li-text">
                            Wyposażenie naszego warsztatu pozwala na przeprowadzenie kompleksowych testów i napraw
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
<style>
    /*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-1170 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
    }
    #why-1170 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #why-1170 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #why-1170 .cs-text {
        margin-bottom: 1rem;
    }
    #why-1170 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #why-1170 .cs-list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 1.5rem;
    }
    #why-1170 .cs-li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        /* 16px - 20px */
        gap: clamp(1rem, 2.5vw, 1.25rem);
    }
    #why-1170 .cs-li-picture {
        /* 60px - 80px */
        width: clamp(3.75rem, 6vw, 5rem);
        height: clamp(3.75rem, 6vw, 5rem);
        margin: 0;
        background-color: #f7f7f7;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #why-1170 .cs-li-icon {
        /* 24px - 32px */
        width: clamp(1.5rem, 3vw, 2rem);
        height: auto;
        display: block;
    }
    #why-1170 .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        text-align: left;
        margin: 0 0 0.75rem 0;
        color: var(--headerColor);
    }
    #why-1170 .cs-li-text {
        font-size: 1rem;
        line-height: 1.5em;
        text-align: left;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #why-1170 .cs-image-group {
        /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
        font-size: min(1.7vw, 0.7em);
        width: 53.625em;
        height: auto;
        /* 60px - 80px */
        padding-top: clamp(3.75rem, 6vw, 5rem);
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        /* 48px - 64px, changes to 36px at large desktop */
        row-gap: clamp(3rem, 6vw, 4rem);
        position: relative;
        z-index: 1;
    }
    #why-1170 .cs-graphic-wrapper {
        width: 100vw;
        height: 85%;
        background-color: #1a1a1a;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 0;
        z-index: -1;
        transform: translateX(-50%);
    }
    #why-1170 .cs-graphic {
        /* changes at tablet */
        width: 250vw;
        height: auto;
        opacity: 0.04;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-10deg);
    }
    #why-1170 .cs-stat {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    #why-1170 .cs-icon-wrapper {
        /* 72px - 96px */
        width: clamp(4.5rem, 12vw, 6rem);
        height: clamp(4.5rem, 12vw, 6rem);
        background-color: #484848;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #why-1170 .cs-icon {
        /* 32px - 48px */
        width: clamp(2rem, 6vw, 3rem);
    }
    #why-1170 .cs-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #why-1170 .cs-number {
        font-size: clamp(1.9375rem, 5.9vw, 3.0625rem);
        line-height: 1.2em;
        font-weight: 900;
        text-align: left;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }
    #why-1170 .cs-desc {
        font-size: 1rem;
        line-height: 1.2em;
        text-align: left;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }
    #why-1170 .cs-picture1 {
        width: auto;
        height: 29.8125em;
        display: block;
        position: absolute;
        bottom: 1.25em;
        left: 0;
        z-index: 10;
    }
    #why-1170 .cs-picture1 img {
        height: 100%;
        width: auto;
    }
    #why-1170 .cs-picture2 {
        width: auto;
        height: 33.625em;
        display: flex;
        align-items: flex-start;
        position: relative;
        margin: 0 auto;
        z-index: 10;
    }
    #why-1170 .cs-picture2 img {
        height: 100%;
        width: auto;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #why-1170 {
        margin-top: 4rem;
    }
    #why-1170 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        /* justify-content: flex-start; */
        justify-content: flex-end;
        align-items: center;
    }
    #why-1170 .cs-content {
        width: 47%;
    }
    #why-1170 .cs-image-group {
        font-size: min(1vw, 1em);
        width: 32.625em;
        height: 100%;
        padding: 0;
        flex: none;
        position: absolute;
        top: 0;
        /* left: 50%; */
        right: 50%;
        margin-left: 9.375em;
    }
    #why-1170 .cs-graphic-wrapper {
        width: 32.625em;
        height: 87%;
    }
    #why-1170 .cs-graphic {
        /* changes at large desktop */
        width: 122.375em;
        top: 0;
        transform: translateX(-50%) rotate(-10deg);
    }
    #why-1170 .cs-picture1 {
        height: 62%;
        max-height: 29.8125em;
        right: auto;
        left: 50%;
        transform: translateX(-54%);
    }
    #why-1170 .cs-picture2 {
        height: 67%;
        max-height: 33.625em;
    }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #why-1170 .cs-image-group {
        margin-left: 6.25em;
        gap: 2.25em;
    }
    #why-1170 .cs-graphic-wrapper {
        height: 83%;
    }
    #why-1170 .cs-graphic {
        width: 93.5em;
        right: -1.25em;
        top: 6.875em;
        left: auto;
        transform: rotate(-10deg);
    }
}

                                
</style>