<!-- ============================================ -->
<!--                    Table                     -->
<!-- ============================================ -->

<section id="table-1669">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Cennik</span>
            <h2 class="cs-title">Sprawdź ceny naszych serwisów</h2>
            <p class="cs-text">
                Poniższe ceny mają charakter orientacyjny a końcowa wycena zależy od wielu czynników, takich jak stopień skomplikowania usterki, marka samochodu, cena części czy czas pracy.
            </p>
        </div>
        <table class="cs-table">
            <thead>
                <tr class="cs-color">
                    <th class="cs-th">Mechanika</th>
                    <th class="cs-th">Cena</th>
                </tr>
            </thead>
            <tbody>
                <tr class="cs-tr">
                    <td class="cs-td">Przegląd samochodu (w cenie wymiana filtrów i oleju, przegląd całego samochodu)</td>
                    <td class="cs-td">od 350 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana oleju + filtr oleju</td>
                    <td class="cs-td">od 120 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana filtra paliwa</td>
                    <td class="cs-td">od 80 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana filtra kabiny</td>
                    <td class="cs-td">50-100 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana płynu chłodzącego</td>
                    <td class="cs-td">100-150 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Holowanie samochodu</td>
                    <td class="cs-td">200-300 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Roboczogodzina</td>
                    <td class="cs-td">300 zł</td>
                </tr>
                <tr class="cs-color">
                    <td class="cs-th">Układ hamulcowy</td>
                    <th class="cs-th">Cena</th>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana klocków hamulcowych przód</td>
                    <td class="cs-td">150 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana klocków hamulcowych tył</td>
                    <td class="cs-td">150 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Wymian szczęk hamulcowych</td>
                    <td class="cs-td">250 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Regeneracja zacisku hamulcowego</td>
                    <td class="cs-td">400 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Regeneracja zacisku hamulcowego elektronicznego</td>
                    <td class="cs-td">500-800 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana płynu hamulcowego (maszyną ciśnieniową)</td>
                    <td class="cs-td">250 zł</td>
                </tr>
                <thead>
                    <tr class="cs-color">
                        <th class="cs-th">Zawieszenie</th>
                        <th class="cs-th">Cena</th>
                    </tr>
                </thead>
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana amortyzatora oś tylna</td>
                    <td class="cs-td">100-150 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana drążka kierowniczego</td>
                    <td class="cs-td">120 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana wahacza</td>
                    <td class="cs-td">250 zł</td>
                </tr>  
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana przekładni kierowniczej </td>
                    <td class="cs-td">450-600 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana belki oś tylna</td>
                    <td class="cs-td">400-450 zł</td>
                </tr>
                <thead>
                    <tr class="cs-color">
                        <th class="cs-th">Serwis i naprawa klimatyzacji</th>
                        <th class="cs-th">Cena</th>
                    </tr>
                </thead>
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana kompresora klimatyzacji</td>
                    <td class="cs-td">300-350 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Naprawa przewodu klimatyzacji w samochodzie</td>
                    <td class="cs-td">200-300 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Odgrzybienie klimatyzacji ozonem</td>
                    <td class="cs-td">150 zł</td>
                </tr>  
                <tr class="cs-tr">
                    <td class="cs-td">Wymiana chłodnicy klimatyzacji w samochodzie</td>
                    <td class="cs-td">250-350 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Serwis klimatyzacji R134A</td>
                    <td class="cs-td">350 zł</td>
                </tr>
                <thead>
                    <tr class="cs-color">
                        <th class="cs-th">Geometria i zbieżność kół</th>
                        <th class="cs-th">Cena</th>
                    </tr>
                </thead>
                <tr class="cs-tr">
                    <td class="cs-td">Geometria kół (przód i tył)</td>
                    <td class="cs-td">od 250 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Geometria kół BMW</td>
                    <td class="cs-td">250 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Geometria kół Mercedes</td>
                    <td class="cs-td">350 zł</td>
                </tr>  
                <thead>
                    <tr class="cs-color">
                        <th class="cs-th">Diagnostyka samochodowa</th>
                        <th class="cs-th">Cena</th>
                    </tr>
                </thead>
                <tr class="cs-tr">
                    <td class="cs-td">Diagnostyka komputerowa z czytaniem parametrów rzeczywistych</td>
                    <td class="cs-td">od 200 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Diagnostyka komp BMW lub MINI</td>
                    <td class="cs-td">250 zł</td>
                </tr>
                <tr class="cs-tr">
                    <td class="cs-td">Diagnostyka VW Group</td>
                    <td class="cs-td">300 zł</td>
                </tr> 
             
                
            </tbody>
        </table>
    </div>
</section>
                                
<style>
    /*-- -------------------------- -->
<---           Table            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #table-1669 {
    padding: var(--sectionPadding);
  }
  #table-1669 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #table-1669 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #table-1669 .cs-table {
    width: 100%;
    border-collapse: collapse;
  }
  #table-1669 .cs-th {
    padding: 0.75rem 1rem;
    box-sizing: border-box;
  }
  #table-1669 .cs-td {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
  }
  #table-1669 .cs-th,
  #table-1669 .cs-td {
    border: 1px solid #ddd;
    text-align: center;
  }
  #table-1669 .cs-color .cs-th:first-child {
    color: #fff;
    background-color: var(--primary);
  }
  #table-1669 .cs-th:first-child,
  #table-1669 .cs-td:first-child {
    position: sticky;
    left: 0;
    z-index: 100;
    /* Make sure it sits above the other cells */
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    text-align: left;
  }
  #table-1669 .cs-th {
    background-color: #f2f2f2;
  }
  #table-1669 .cs-tr {
    color: var(--bodyTextColor);
  }
  #table-1669 .cs-icon {
    height: 1rem;
    width: auto;
  }
}
/* Tablet - 600px */
@media screen and (max-width: 37.5rem) {
  #table-1669 .cs-table {
    display: block;
    overflow-x: auto;
  }
}
                                
</style>