<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->        

<section id="services">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Nasze usługi</span>
            <h2 class="cs-title">Kompleksowy serwis i naprawa samochodu</h2>
            <p class="cs-text">
                Jesteśmy oczywistym wyborem niezależnie od tego czy potrzebujesz naprawy małej usterki czy generalnego remontu układów lub wymiany podzespołów. Sprawdź jak zaopiekujemy się Twoją maszyną!
            </p>
        </div>
        <!--Placed in a wrapper div so we can position the car absolutely inside the container to be centered in the middle of the list on desktop-->
        <div class="cs-wrapper">
            <!--Car-->
            <picture class="cs-image">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/auto1.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/auto1.webp">
                <img loading="lazy" decoding="async" src="/assets/images/auto1.webp" alt="car" width="510" height="193" aria-hidden="true">
            </picture>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/engineering%201%20red.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Diagnostyka komputerowa</h3>
                        <p class="cs-item-text">Rozpoznamy kody usterek systemów bezpieczeństwa i awarii układu paliwowego czy sterownika silnika.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/brake-red.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Wulkanizacja</h3>
                        <p class="cs-item-text">Profesjonalnie sprawdzimy i naprawimy ogumienie opon. W razie potrzeby sprawnie wymienimy opony w samochodzie.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/air-conditioner-red.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Serwis klimatyzacji samochodowej</h3>
                        <p class="cs-item-text">Zdiagnozujemy i naprawimy nieprawidłowości pracy w układzie. Wymienimy filtry, wyczyścimy przewody i nabijemy klimatyzację.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/motor%201%20red.svg" loading="lazy"
                                decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Sprzedaż części i akcesoriów</h3>
                        <p class="cs-item-text">Zamówimy części samochodowe, których potrzebujesz. Dysponujemy też zapleczem akcesoriów dla Twojego auta.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/alloy-wheel-red.svg" loading="lazy"
                                decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Serwis kół i opon</h3>
                        <p class="cs-item-text">Wymienimy koła na felgach aluminiowych i stalowych, zmienimy opony na letnie lub zimowe. Zajmiemy się też wyważeniem kół.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/contamination-red.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Przeglądy okresowe</h3>
                        <p class="cs-item-text">Przeprowadzimy kontrolę stanu technicznego auta. Wymienimy części, sprawdzimy stan zawieszenia i układu hamulcowego.</p>
                    </div>
                </li>
            </ul>
        </div>
        <a href="" class="cs-button-solid">Umów termin</a>
    </div>
</section>
                                
<style>
    /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services {
        padding: var(--sectionPadding);
        /* prevents padding from affecting height and  */
        box-sizing: border-box;
    }
    #services .cs-container {
        /* changes to 1440px at desktop */
        max-width: 58.75rem;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #services .cs-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
        /* set text align to left if content needs to be left aligned */
        text-align: center;
    }

    #services .cs-title {
        max-width: 20ch;
    }
    #services .cs-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
        position: relative;
    }
    #services .cs-image {
        width: 100%;
        max-width: 31.875rem;
        height: auto;
        display: block;
        position: relative;
    }
    #services .cs-image img {
        width: 100%;
        height: auto;
    }
    #services .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        justify-content: center;
        row-gap: 1rem;
    }
    #services .cs-item {
        text-align: center;
        list-style: none;
        max-width: 23rem;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }
    #services .cs-picture {
        width: 5rem;
        height: 5rem;
        box-sizing: border-box;
        /* prevents border from affecting height and width */
        background-color: #f7f7f7;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #services .cs-icon {
        width: 1.875rem;
        height: auto;
        display: block;
    }
    #services .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.5em;
        margin: 0;
        margin-bottom: 0.5rem;
        color: var(--headerColor);
        text-align: inherit;
    }
    #services .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        text-align: inherit;
    }
    #services .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        font-weight: 700;
        min-width: 9.375rem;
        margin: 0;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        padding: 0 1.5rem;
        color: #fff;
        background-color: var(--primary);
        text-decoration: none;
        display: inline-block;
        position: relative;
        z-index: 1;
        text-align: center;
    }
    #services .cs-button-solid:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #000;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #services .cs-button-solid:hover:before {
        width: 100%;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services .cs-card-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    #services .cs-item {
        text-align: left;
        margin: 0;
        width: 32%;
        align-items: flex-start;
    }
    #services .cs-image {
        max-height: 28.125rem;
    }
    #services .cs-image img {
        width: 100%;
        height: auto;
        max-height: 28.125rem;
        object-fit: contain;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services .cs-container {
        max-width: 90rem;
    }
    #services .cs-image {
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #services .cs-image img {
        width: auto;
        height: auto;
    }
    #services .cs-card-group {
        align-items: flex-start;
        justify-content: center;
        /* 180px - 356px */
        column-gap: clamp(11.25rem, 21vw, 22.25rem);
        /* 40px - 88px */
        row-gap: clamp(2.5rem, 8vw, 5.5rem);
    }
    #services .cs-item {
        width: 32vw;
        max-width: 26.375rem;
        flex-direction: row;
        position: relative;
    }
    #services .cs-item:nth-of-type(odd) {
        text-align: right;
    }
    #services .cs-item:nth-of-type(odd) .cs-picture {
        /* sends it to the right in the 2nd position */
        order: 2;
    }
    #services .cs-item:nth-of-type(3) {
        /* 90px - 1280px */
        left: calc(clamp(5.625rem, 8vw, 8rem) * -1);
    }
    #services .cs-item:nth-of-type(4) {
        /* 90px - 1280px */
        right: calc(clamp(5.625rem, 8vw, 8rem) * -1);
    }
}

                                
</style>